/* 
    ОБЩИЕ СТИЛИ СТРАНИЦЫ
*/
@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Black.ttf") format("opentype");
    font-weight: 900;
    }

@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.ttf") format("opentype");
    font-weight: 700;
    }

@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("opentype");
    font-weight: 400;
    }

@font-face{
    font-family: "Roboto Slab";
    src: url("fonts/RobotoSlab/RobotoSlab-Black.ttf") format("opentype");
    font-weight: 900;
}

@font-face{
    font-family: "Roboto Slab";
    src: url("fonts/RobotoSlab/RobotoSlab-Bold.ttf") format("opentype");
    font-weight: 700;
}

@font-face{
    font-family: "Roboto Slab";
    src: url("fonts/RobotoSlab/RobotoSlab-Regular.ttf") format("opentype");
    font-weight: 400;
}

@font-face{
    font-family: "Rochester";
    src: url("fonts/Rochester/Rochester-Regular.ttf") format("opentype");
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html{
    font-size: 20px;
   
}
h1{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 4rem;
    font-weight: 400;
}
h3{
    font-size: 1.2rem;
}
p{
    font-size: 1.5rem;
}
section{
    padding: 50px;
    background: #1D1A17;
}
a{
    text-decoration: none;
    color: white;
}

/* 
    МЕНЮ 
*/

.menu {
    position: fixed;
    height: 80px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.menu__toggler{
    position: absolute;
    z-index: 100001;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu__burger-btn {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    position: relative;
    z-index: 10000;
    
}

.burger-btn__centr-line {
    width: 100%;
    height: 12px;
    background: white;
    
}
.menu__toggler:checked ~ .menu__burger-btn::before{
    transform: translateY(19px) scale(0.7) rotate(45deg);
}
.menu__toggler:checked ~ .menu__burger-btn::after{
    transform: translateY(-19px) scale(0.7) rotate(-45deg);
}
.menu__toggler:checked ~ .menu__burger-btn .burger-btn__centr-line {
    background: none;
    border: 3px solid white;
    height: 100%;
}
/*
    Здесь ошибка
*/
.menu__burger-btn::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 12px;
    background: white;
    transition: 0.3s;
}
/*
    Здесь ошибка
*/
.menu__burger-btn::after{
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 12px;
    background: white;
    transition: 0.3s;
}

.menu__desktop {
    display: flex;
}
.desktop__item {
    margin: 0 10px;
}

.menu__mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    font-size: 3rem;
    background: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.3s;

}
.menu__toggler:checked ~ .menu__mobile {
    transform: translateX(0);
}
.mobile__item {
    margin-bottom: 30px;
}

.menu__burger-btn, .menu__toggler{ 
    display: none;
}

/* 
    ШАПКА САЙТА
*/

.header {
    background: url("img/header.png") center/cover no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.header__title {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
}
/*
    Здесь ошибка
*/
.header__title::before{
    font-family: 'Rochester', cursive !important; /*!important - используется для того, чтобы утсновить приоритет в исполнении данного значения */
    font-size: 4rem;
}

/* 
    ПЕРВАЯ СЕКЦИЯ ОСНОВНОЙ ЧАСТИ 
*/
.introduce {
  color: white;
}
.introduce__title {
    margin-bottom: 30px;
}

.introduce__title::first-letter{
    color: #FE6501;
}


.introduce__text::first-line{
    font-size: 2rem;
    color: #FE6501;
}

/* 
    ВТОРАЯ СЕКЦИЯ ОСНОВНОЙ ЧАСТИ 
*/

.bikes {
}
.bikes__item {
    position: relative;
    display: flex;
    background: white;
    margin: 20px auto;
}
.bikes__item:nth-of-type(2n){
    flex-direction: row-reverse;
}

.bikes__item::before{
    content: "Harley Davidson";
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: auto;
    background:#FE6501;
    padding: 30px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.bikes__item:nth-of-type(2n)::before{
    bottom: 20px;
    right: 20px;
    left: auto;
}

.bikes__img {
}
.bikes__text {
    padding: 30px;
}
.bikes__name {
    color: #FE6501;
    font-size: 1rem;
    margin-bottom: 10px;
}
.bikes__title {
    margin-bottom: 10px;
}
.bikes__description {
    font-size: 1rem;
}

/* 
    ТРЕТЬЯ СЕКЦИЯ ОСНОВНОЙ ЧАСТИ 
*/

.equip {
    color: white;
    padding-bottom: 100px;
}
.equip__title {
    text-align: center;
    margin-bottom: 30px;
}
.equip__title::first-letter{
    color: #FE6501;
}   
.equip__items {
    display: flex;
    justify-content: space-evenly;
}
.equip__item {
    position: relative;
}

.equip__item::after{
    position: absolute;
    bottom: -30px;
    padding: 30px 10px;
    right: -50px;
    text-align: center;
    width: 80%;
}

.equip__item:first-of-type::after{
    content: "Для мужчин";
    background: #FE6501;
}
.equip__item:nth-of-type(2)::after{
    content: "Для байка";
    background: black;
}
.equip__item:last-of-type::after{
    content: "Для женщин";
    background: white;
    color: black;
}

/* ФУТЕР */

.footer{
    height: 70vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* МЕДИА */
/*
    Здесь ошибка
*/
@media screen and (max-width: 1600px){
    .bikes__item, .bikes__item:nth-of-type(2n) {
        flex-direction: column;
    }
    .bikes__item::before, .bikes__item:nth-of-type(2n)::before{
        top: 20px;
        bottom: auto;
    }
    .bikes__img {
        width: 100%;
    }
    .equip__items {
        flex-direction: column;
        align-items: center;
    }
    .equip__item {
        max-width: 426px;
        width: 100%;
        margin-bottom: 80px;
    }
    .equip__item img{
        width: 100%;
    }
    .equip__item::after{
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px 0;
    }
}


@media screen and (max-width: 800px){
    html{
        font-size: 14px;
    }
    .bikes__item::before, .bikes__item:nth-of-type(2n)::before{
        padding: 10px;
    }
    .footer img{
        width: 100%;
    }

    .menu__burger-btn, .menu__toggler{ 
        display: block;
    }

    .menu__desktop {
        display: none;
    }
}

@media screen and (max-width: 400px){
    h2{
        font-size: 2.5rem;
    }
    
}